# -*-coding:utf-8-*-

from docxtpl import DocxTemplate
import os
import re
from jira import JIRA
import json

jira = JIRA(server='https://service.ustack.com', basic_auth=('{{jira_username}}', '{{jira_password}}'))
jira.user(jira.current_user())

def searchIssues(jql, max_results=100):
    try:
        issues = jira.search_issues(jql, maxResults=max_results)
        return issues
    except Exception as e:
        print(e)

jql = '''
    Organizations = '{{company_name}}' AND createdDate >= -7d
'''
issue_map = {}
issue_list = []
issue_content = []

issues = searchIssues(jql)

for issue in issues:
    key = issue.key
    create_date = issue.fields.created
    summary = issue.fields.summary
    if issue.fields.assignee:
        assignee = issue.fields.assignee.displayName
    else:
        assignee = 'unassigned'
    status = issue.fields.status.name
    issue_list = [summary, assignee, status]
    issue_map = {'label': create_date[0:10],
                 'cols': issue_list}
    issue_content.append(issue_map) 

tpl=DocxTemplate('/tmp/{{docx_module}}.docx')


context = {
    'company_name': u"{{company_name}}",
    'date': "{{weekly_date}}",
    'tbl_contents1': [
        {'label':'', 'cols': ['{{(result.stdout|from_yaml).vms_count}}', '{{(result.stdout|from_yaml).vms_on_count}}', '{{(result.stdout|from_yaml).volume_ssd_count}}', '{{(result.stdout|from_yaml).volume_sata_count}}']},
        ],
    'tbl_contents2': [
        {'label':'', 'cols': ['{{(result.stdout|from_yaml).vcpus_used}}', '{{(result.stdout|from_yaml).vcpus_all}}', '{{(result.stdout|from_yaml).cpu_allocation_ratio}}', '{{(result.stdout|from_yaml).cpu_used_percent}}']},
        ],
    'tbl_contents3': [
        {'label':'', 'cols': ['{{(result.stdout|from_yaml).mem_used}}', '{{(result.stdout|from_yaml).mem_all}}', '{{(result.stdout|from_yaml).mem_allocation_ratio}}', '{{(result.stdout|from_yaml).volume_ssd_used}}']},
        ],
    'tbl_contents4': [
        {'label':'', 'cols': ['{{(result.stdout|from_yaml).volume_ssd_used}}', '{{(result.stdout|from_yaml).volume_ssd_all}}', '{{(result.stdout|from_yaml).volume_sata_used}}', '{{(result.stdout|from_yaml).volume_sata_all}}']},
        ],
    'tbl_contents': issue_content,
}
tpl.render(context)
tpl.save('/opt/workspace/collect-word-{{cloudname}}.docx')
