#encoding utf-8
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import smtplib

msg = MIMEMultipart()

email_username = '{{email_username}}'
email_password = '{{email_password}}'
email_subject = '{{email_subject}}'
email_mainbody = '{{email_mainbody}}'
files_url= '/opt/workspace/collect-word-{{cloudname}}.docx'
to_reciver = [{{to_reciver}}]
cc_reciver =[{{cc_reciver}}]
reciver = to_reciver + cc_reciver

att1 = MIMEText(open(files_url, 'rb').read(), 'base64', 'gb2312')
att1["Content-Type"] = 'application/octet-stream'
att1["Content-Disposition"] = 'attachment; filename={{time.stdout}}-{{cloudname}}.docx'
msg.attach(att1)

msg['to'] = ";".join(to_reciver)
msg['cc'] = ";".join(cc_reciver)
msg['from'] = email_username
msg['subject'] = email_subject

msg.attach(MIMEText(email_mainbody, 'plain', 'utf-8'))
try:
    server = smtplib.SMTP()
    server.connect('smtp.exmail.qq.com')
    server.login(email_username,email_password)
    server.sendmail(msg['from'], reciver,msg.as_string())
    server.quit()
    print ('ok')
except (Exception):
    print("fail")
